<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Operazioni su carta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#myForm").submit(function(event) {
                event.preventDefault(); // previene il comportamento di default del form

                const cardId = $("#cardId").val();
                const operationType = $("#operationType").val();
                let amount = $("#amount").val();
                if (operationType==="addebito")
                    amount = -amount;

                $.ajax({
                    url: "/merchant/editcredit",
                    type: "POST",
                    data: {
                        cardId: cardId,
                        amount: amount
                    },
                    success: function(response) {
                        resp_json = JSON.parse(response)
                        if (resp_json.result==='ok')
                            $("#message").text("Success! Card credit modified! New credit is: "+resp_json.newCredit+" €").removeClass("error").addClass("success");
                        else    // se c'è stato un errore lato server, allora fa vedere l'errore:
                            $("#message").text("An error occurred: "+resp_json.result).removeClass("success").addClass("error");
                    },
                    // error: function(xhr, status, error) {
                    //     $("#message").text("An error occurred. Card must be enabled and credit must be >= 0").removeClass("success").addClass("error");
                    // }
                });
            });
        });
    </script>
</head>
<body>
<div class="navbar">  <!--  siccome la navbar è uguale per tutti, uno può pensare che potrei metterla in un html e includerla usando jquery. purtroppo non si può perche sennò avrei tutti i pulsanti pur non essendo loggato ad esempio, perchè ste cose sec sono fatte server side.-->
    <a href="/">Home</a>
    <a href="/login" sec:authorize="isAnonymous()">Login</a>
    <a href="/merchant/editcredit" sec:authorize="hasAnyRole('ROLE_MERCHANT','ROLE_ADMIN')">Make Deposit/Debit</a>
    <a href="/cardowner/cardmovements" sec:authorize="hasRole('ROLE_CARDOWNER')">My card movements</a>
    <a href="/merchant/merchanttransactions" sec:authorize="hasRole('ROLE_MERCHANT')">My operations done</a>
    <a href="/admin/alltransactions" sec:authorize="hasRole('ROLE_ADMIN')">All transactions</a>
    <a href="/admin/createnewcard" sec:authorize="hasRole('ROLE_ADMIN')">New card</a>
    <a href="/admin/blockunblockcard" sec:authorize="hasRole('ROLE_ADMIN')">Block/Unblock card</a>
    <a href="/admin/registermerchant" sec:authorize="hasRole('ROLE_ADMIN')">Register a Merchant</a>
    <a href="/admin/disableenablemerchant" sec:authorize="hasRole('ROLE_ADMIN')">Disable/Enable a Merchant</a>
    <a href="/admin/alllogs" sec:authorize="hasRole('ROLE_ADMIN')">Logs report</a>
    <a href="/admin/users" sec:authorize="hasRole('ROLE_ADMIN')">List of users</a>
    <a href="/admin/cardlist" sec:authorize="hasRole('ROLE_ADMIN')">List of cards</a>
    <a href="/logout" sec:authorize="isAuthenticated()" class="logout-button">Logout</a>
</div>
<div class="container">
    <div class="form-container">
        <form id="myForm">
            <label for="cardId">Card ID:</label>
            <input type="number" min="1" id="cardId" name="cardId" required>

            <label for="operationType">Operation type:</label>
            <select id="operationType" name="operationType">
                <option value="accredito">Deposit</option>
                <option value="addebito">Debit</option>
            </select>


            <label for="amount">Amount €:</label>
            <input type="number" min="1" step="0.01" id="amount" name="amount" required>

            <button type="submit" class="btn btn-secondary">Update credit</button>
        </form>

        <div id="message" class="message"></div>

    </div>
</div>
<footer>
    <p class="footer-text">CardManager App, a simple app to manage your gift cards.</p>
</footer>
</body>
</html>
